{% extends "encyclopedia/layout.html" %}

{% block title %}
    Delete page
{% endblock %}

{% block body %}
    <h1> Delete Page: {{ title }} </h1>
    <h3> {{ message }} </h3>
    {% if message == "Cannot delete this page!" %}
        <img src="https://th.bing.com/th/id/R.e29233349a5e0d260d647b751bc08489?rik=Z7hn%2bRTMhB4i5w&pid=ImgRaw&r=0" alt="description of image" style="height:300px;"> 
    {% else %}
        <img src="https://th.bing.com/th/id/OIP.6EloxQoIQ6weUK3kkIfLDgHaGN?pid=ImgDet&rs=1" style="height:300px;"> 
    {% endif %}
{% endblock %}


