{% extends "encyclopedia/layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block body %}
    <h1> {{ message }}</h1>
    <div class="container">
        <div>
            <img src="https://i.pinimg.com/236x/01/6e/59/016e592cbe92dfce0d575693e1cb2f07.jpg?nii=t" alt="description of image" style="height:300px;"> 
        </div>
        <div style="padding-left: 2%;">
            <h4>Read more: <a href="{% url 'encyclopedia:entry' title %}">{{ title }}</a></h4>
        </div>
    </div>
{% endblock %}


